@model TheMovie.Models.moviesResult
@{
    ViewBag.Title = "Details";
}

<div class="col-sm-12">
    <div class="col-sm-6">
        @Model.title
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12">
        @Model.overview
    </div>

</div>

