@model PagedList.IPagedList<TheMovie.Models.moviesResult>
@using PagedList.Mvc;

@using (Ajax.BeginForm("IndexAsync", "Movie", new AjaxOptions { UpdateTargetId = "table", HttpMethod = "Post" }))
{
    @Html.Hidden("stringSearch");
    @Html.Hidden("page");

    <button type="submit" id="submit" style="display:none"></button>

}

<div class="pull-right">
    <div id="imaginary_container" style="width: 256px;">
        <div class="input-group stylish-input-group" style="">
            <input type="text" class="form-control" id="search" placeholder="Search your movie">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div id="table">

    @Html.Partial("indexControl", Model)
</div>
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#search').keyup(function () {
            getstring();
        });
    });
    function getstring() {
        debugger
        var string = $('#search').val();
        var page = this.text;
        $('#stringSearch').val(string)
        $('#page').val(page);
        $('#submit').click();
    }

</script>
